
{% extends 'response_time/src/etc/base.html' %}
{% load staticfiles%}
{% block content %}


<script>

$(function () { 
    var myChart = Highcharts.chart('rtchart1', {
        chart: { type: 'line' },
        title: { text: 'response_time' },
        xAxis: { categories: ['convoCount', 'realCount', 'firstCount', 'firstResponse', 'averageResponse', 'medianResponse'] },
        yAxis: { title: { text: 'Response Time' } },
        series: [ {% for key, item in adminObject %}
            		{ name: "{{key}}", data: [{{item.0}}, {{item.1}}, {{item.2}}, {{item.3}}, {{item.4}}, {{item.5}}, {{item.6}}] }, 
    				{% endfor %} ] }); });
</script>


<div class="container">
    <div class="jumbotron">
        <h1>Response Time Weekly</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
        <form action="" method="POST">
              {% csrf_token %}
	        <input name=crawl>
	        <button type=submit>Submit</button>
        </form><br>
        <div id="rtchart1" style="width:100%; height:400px;"></div>
    </div>
</div>

{% endblock %}