
{% extends 'response_time/src/base.html' %}


{% block content %}

<script>

    $(function () { 
    var myChart = Highcharts.chart('rtchart', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Response Time'
        },
        xAxis: {
            categories: ['ConvoCount', 'RealCount', 'FirstCount', 'FirstResponse', 'AverageResponse', 'MedianResponse']
        },
        yAxis: {
            title: {
                text: 'Inbound'
            }
        },
            series: [
            {% for admin in adminObject %}
            	{
	                name: {{admin.adminName}},
	                data: [{{admin.convoCount}}, {{admin.realCount}}, {{admin.firstCount}}, {{admin.firstResponse}}, {{admin.averageResponse}}, {{admin.medianResponse}}]
            	}
			{% endfor %}

            ]
    });
});

</script>



<div class="container">
    <div class="jumbotron">
        <h1>Response Time</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
        <form action="" method="POST">
              {% csrf_token %}
	        <input name=crawl>
	        <button type=submit>Submit</button>
        </form><br>
        <div id="rtchart" style="width:100%; height:400px;"></div>

			{% for admin in adminObject %}
					<h3>Admin Name: {{admin.adminName}}</h3>
					<p>Convo Count: {{admin.convoCount}}</p>
					<p>Real Count: {{admin.realCount}}</p>
                    <p>First Count: {{admin.firstCount}}</p>

					<p>First Response Time: {{admin.firstResponse}}</p>
					<p>Average Response Time: {{admin.averageResponse}}</p>
					<p>Median Response Time: {{admin.medianResponse}}</p>
			{% endfor %}
    </div>
</div>

{% endblock %}